* {
    font-family: helvetica;
}

body{
    margin: 0px;
    background-color: #2CC989;
}

.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.list {
    display: flex;
    gap: 40%;
    list-style: none;
}

.titleli {
    font-style: inherit;
    font-weight: 900;
    color: black;
}

.navline {
    height:3px;
    border-width: 0;
    background-color: black;
}

.firsttext {
    margin-left: 20px;
    padding: 0px;
    width: 800px;
    height: 350px;
    /*border: 5px solid blue;*/
}

.go {
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.foodtruck{
    /*border: 5px solid red;*/
    width: 300px;
}

.food {
    font-size: 80px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.truck {
    font-size: 80px;
    margin-top: 10px;
    margin-left: 50px;   
}

.objectcontainer {
    display: flex;
}